{% extends 'base.html.twig' %}

{% block title %}PreferredContact index{% endblock %}

{% block body %}
    <h1 style="background-color:#138496;color:white; text-shadow: 0px 0px 2px black;">&nbsp;Modes de contact</h1>
    <p>→ La liste des modes de contact </p>

    <table class="table" style="border:1px dotted black;" width=100%>
        <thead>
            <tr bgcolor="#017d8f" style="color:white;">
                <th>Id</th>
                <th>Mode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preferred_contact in preferred_contacts %}
            <tr bgcolor="#f1f1f1">
                <td>{{ preferred_contact.id }}</td>
                <td>{{ preferred_contact.mode }}</td>
                <td align="center">
                    {# <a href="{{ path('preferred_contact_show', {'id': preferred_contact.id}) }}">show</a> #}
                    <a href="{{ path('preferred_contact_edit', {'id': preferred_contact.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('preferred_contact_new') }}">+ Créer un nouveau mode de contact</a>
{% endblock %}
