{% extends 'base.html.twig' %}

{% block title %}ProjectStatus index{% endblock %}

{% block body %}
    <h1 style="background-color:#138496;color:white; text-shadow: 0px 0px 2px black;">&nbsp;Statuts de projets</h1>
    <p>→ La liste des statuts de projets </p>

    <table class="table" style="border:1px dotted black;" width=100%>
        <thead>
            <tr bgcolor="#017d8f" style="color:white;">
                <th>Id</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project_status in project_statuses %}
            <tr bgcolor="#f1f1f1">
                <td>{{ project_status.id }}</td>
                <td>{{ project_status.status }}</td>
                <td align="center">
                    {# <a href="{{ path('project_status_show', {'id': project_status.id}) }}">show</a> #}
                    <a href="{{ path('project_status_edit', {'id': project_status.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('project_status_new') }}">+ Créer un nouveau statut</a>
{% endblock %}
