{% extends 'base.html.twig' %}

{% block title %}ParticipationEvent index{% endblock %}

{% block body %}
    <h1 style="background-color:#138496;color:white; text-shadow: 0px 0px 2px black;">&nbsp;Participations à un événement</h1>
    <p>→ La liste des participations </p>

    <table class="table" style="border:1px dotted black;" width=100%>
        <thead>
            <tr bgcolor="#017d8f" style="color:white;">
                <th>Id</th>
                <th>Evénement</th>
                <th>Participant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation_event in participation_events %}
            <tr bgcolor="#f1f1f1">
                <td>{{ participation_event.id }}</td>
                <td>{{ participation_event.event.name }}</td>
                <td>{{ participation_event.participant.username }}</td>
                <td align="center">
                    {# <a href="{{ path('participation_event_show', {'id': participation_event.id}) }}">show</a> #}
                    <a href="{{ path('participation_event_edit', {'id': participation_event.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('participation_event_new') }}">+ Créer une nouvelle participation</a>
{% endblock %}
